Applications
Code
Desktop
Documents
Downloads
Dropbox
Google Drive
Library
Movies
Music
Pictures
Public
Virtual
VirtualBox VMs
.aws
.bundle
.gem/
.hex/
.kiex/
.dropbox
.docker
.ievms
.local
.npm
.nuget
.pyenv
.rbenv
.virtualenv
.virtualenvs
.vscode
.CFUserTextEncoding
.node-gyp
.subversion
golang
.cache
.electron
.config
lpoptions
gradients.xml
.dotnet
.erlang.cookie
.guard_history
.lumberrc
.mix
.mysql_history
.netrc
.packer.d
.passenger
.pry_history
.psql_history
.putty
.python_history
.rediscli_history
.rnd
.ssh
.ssh_aliases
.trc
.webtask
.wget-hsts
.zcompdump-Patrick’s MacBook Pro-5.0.8
.zcompdump-Patrick’s MacBook Pro-5.2
.zsh-update
.zsh_history
benchttp
license
.Trash
